name = "public-worker"
main = "src/index.js"
compatibility_date = "2025-10-22"

# Environment variables
[vars]
ALLOWED_ORIGINS = "*"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true